dialog {
    background-color: white;
}

label,caption,description {
    background-color: white;
}
label {
    font-weight: bold;
}

label.alpheios-about-title {
    font-size: 120%;
}

label.site-link {
    color: #3E8D9C;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

label.site-link:hover {
    color: #5BC8DC;
}

image#alpheios-icon {
   list-style-image: url("chrome://alpheios/skin/icons/alpheios_16.png");
   max-height: 16px;
   max-width: 16px;
}