toolbarbutton.alph-close-button {
    list-style-image: url("chrome://alpheios/skin/close.png");
}

toolbarbutton.alph-close-button:hover {
    list-style-image: url("chrome://alpheios/skin/closeHover.png");
}

toolbarbutton.alph-close-button:active {
    list-style-image: url("chrome://alpheios/skin/closeActive.png");
}

