#alph-query-frame {
   background-color: white;
}

body {
    background-color: white;
}

.alph-query-element {
}

.alph-query-pofs {
    float: left;
    width: 20%;
}

.alph-query-defs {
    float: left;
    margin-left: 1em;
    width: 30%;
}

.alph-query-defs select {
    width: 100%;
    overflow: scroll;
}

.alph-query-header {
    font-weight: bold;
}

.alph-query-infl {
    clear: both;
    margin-top: 2em;
}

.answer {
    font-style: italic;
}

.alph-query-context {
    font-size: 110%;
    text-decoration: underline;
    text-align: center;
}