/*
 * CSS for Noun Inflection tables
 */
td.regular {
    border-left: 1px solid #4E6476; 
    border-top: 1px solid #4E6476;
    border-bottom: 1px solid #4E6476;
    border-right: none;
    padding: 2px;
    white-space: nowrap;
    vertical-align: bottom;
    
} 
td.irregular{
    border-left: 1px dashed #4E6476; 
    border-right: 1px solid #4E6476;
    border-top: 1px solid #4E6476;
    border-bottom: 1px solid #4E6476;
    padding: 2px;
    white-space: nowrap;
    vertical-align: bottom;
}

td.noirreg {
   border-right: 1px solid #4E6476;
}

ul.stem-class-block {
    overflow: hidden;
    text-align: center;
    width: auto;
    position: relative;
    
}
ul.stem-class-block.show-list {
    overflow: visible;
}

ul.stem-classes {
    display: none;
    font-weight: normal;
    font-size: 90%;
    z-index: 100;
    width: auto;
    overflow: visible;
}

ul.stem-class-block.show-list ul.stem-classes{
    display: block;
    position: absolute;
    border: 1px solid #0E2233;
    background-color: white;
    right: 10px;
}


ul.stem-classes li {
    list-style-type: none;
    text-align: left;
    padding-left: 2px;
    padding-right: 2px;
    white-space: nowrap;
}

li.stem-class-toggle {
    font-weight: bold;
    color: #3E8D9C;
    cursor: pointer;
 
}

li.stem-class-toggle:hover {
    color: #5BC8DC;
}

ul.stem-class-block li.stem-class-toggle {
    list-style-image: url("chrome://alpheios/skin/twisty-clsd.png");
}

ul.stem-class-block.show-list li.stem-class-toggle {
    list-style-image: url("chrome://alpheios/skin/twisty-open.png"); 
}

ul.stem-classes li.selected, ul.stem-classes li.primary {
    list-style-image: url("chrome://alpheios/skin/cbox-check.gif");
}

ul.stem-classes li.highlight-ending {
    list-style-image: url("chrome://alpheios/skin/cbox-check.gif");
}

.stem-class-desc {
   text-align: left;
}

ul.stem-classes li.highlight-ending .stem-class-desc {
    background-color: #FDE543;
}

