/*
 * Base CSS for Inflection tables
 */
body, th, td {
    font-family: "Trebuchet MS", "Arial Unicode MS", sans-serif;
    font-size: 90%;
}

.title {
    font-weight: bold;
    text-align: center;
    font-size: 110%;
}

#links a, #infl-links a {
    padding-right: 1em;
}

#expand-table-link {
    display: none;
}

#infl-links {
    display: none; 
    padding: 2px;
}

#infl-links-label {
    font-style: italic;
}

#reorder {
    display: none;
    padding: 2px;
}

#reorder-label {
    font-style: italic;
}

select#sortorder option, select#infl-links-select option{
    /* TODO want this to be smaller but having trouble with selected */
    /* font-size: 90% */
}

table#alph-infl-table {
	border-collapse: collapse;
	border: 2px solid;
	/*width: auto;*/
	table-layout: fixed;
}

#alph-infl-table caption {
    font-weight: bold;
    text-align: left;
}

#alph-infl-table tr {
	border: 1px solid gray;
	padding: 2px;
}


#expand-table-link {
    display: none;
}

th {
    display: none;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 2px;
}

th.always-visible {
  display:table-cell;
}


tr#headerrow1 th:first-child {
    /*visibility: hidden; */ 
}


tr#headerrow1-irreg th {
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}

tr.group1row th {
    white-space: nowrap;
}

tr.group1row th.emptyheader {
    border-left: none;
    border-right: none;
}

tr#headerrow1-irreg th:first-child {
    visibility: hidden; 
}

tr.data-row th {
   display:table-cell;
   font-weight: normal;
   font-style: italic;
   border-left: 1px solid black;
   border-right: none;
}

tr.group1row td {
    border-left: none;
    border-right: none;    
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}


tr.group1row th {
    border-left: 1px solid black;
    border-right: none;
    text-align: left;
}

tr.data-row td.emptycell {
    border-left: none;
    border-right: none;
    color: red;
}

td {
    display: none;
}


.ending {
    padding-left: 2px;
    display: inline;
    white-space: nowrap;
}

a.footnote:after {
    content: " ";

}

.footnote {
    vertical-align: super;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.footnote-delimiter {
    vertical-align: super;
}

.footnote-text {
    display: none;
}

.footnote-visible {
    display: inline;
    position: absolute;
    color: black;
    padding: 2px;
    font-weight: normal;
    border: 1px solid #BBC !important;
    background-color: #F0F7FF;
    white-space: normal;
}

td.highlight-ending {
   
}

span.highlight-ending {
    background-color: yellow;
    font-weight: bold;
    font-size: 1.25em;
}

.highlight-hover {
   background-color: #c7b589;
   
}

td {
    border-left: 1px solid gray; 
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 2px;
    white-space: nowrap;
    vertical-align: bottom;
    
} 

.notfirst {
    padding-left: 0px;

}
.notfirst:before {
    content: ", ";

}

.loading {
    padding-left: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    background: transparent url(loading.gif) no-repeat;
    cursor: progress;
    white-space: nowrap;
}

.ending-collapsed {
    display: none;
}

.ending-expanded {
    display: inline;
}

.endings-toggle {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 110%;
    padding-left: .5em;
}

