body {
    background: white;
}

#alph-window {
    border: none !important;
    padding: 4px;
    background: white;
}

.alph-attr,.alph-case,.alph-mood,.alph-decl,.alph-conj,.alph-pofs, .alph-close {
    background: white;
}

/** hide some things in dictionary view **/
.alph-infl-set, #alph-text-loading, #alph-loading-error, .alph-unknown,.alph-error  {
    display: none;
}