body {
    background: white;
}

#alph-window {
    border: none !important;
    padding: 4px;
    background: white;
}

.alph-attr,.alph-case,.alph-mood,.alph-decl,.alph-conj,.alph-pofs,.alph-close,.alph-tense,.alph-voice,.alph-pers {
    background: white;
}

/** hide meanings in morph view **/
.alph-mean {
    display: none;
}