/*
 * Stylesheet for pedagogical reader specific interface elements
 * Copyright 2008 Cantus Foundation
 * http://alpheios.net
 * 
 * This file is part of Alpheios.
 * 
 * Alpheios is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Alpheios is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
 
.alpheios-highlight-parallel {
    background-color: yellow;
    font-weight: bold;
}

.alpheios-highlight-source {
    font-weight:bold;
}

.alpheios-aligned-word {
    cursor: pointer;
}

.alpheios-aligned-trans {
    color: blue;
    font-size: 80%;
    position: absolute;
    padding-right: .25em;
}

.alpheios-aligned-trans,.alpheios-aligned-word {
}
 
.alpheios-word-wrap {
    display: inline;
    position: relative;
    margin-bottom: 2em;
}

.alpheios-word-block {
    margin-bottom: 2em;
}

.upLink {
    display: none;

}

.alpheios-inline-query-select {
    cursor: pointer;
}
.alpheios-next-prev a {
    padding-left: .25em;
    padding-right: .25em;

}

.stdfooter hr {
    display: none;
}

.rights_info {
    background-color: white !important;
    font-size: small;
}

.linenum {
    float: right;
    vertical-align: top;
    margin-right: 1em;
    font-size: small;
}

.para {
    margin-top: 1em;
}

.milestone.line {
    margin-top: 1em;
}
