body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: #0E2233;
}

#alpheios-wordlist-header {
    font-weight: bold;
    border-bottom: 1px solid black;
}

.header {
    clear: both;
    font-weight: bold;
}
.entry {
    clear: both;
    margin-bottom: .5em;
}

div.lemma {
    float: left;
    width: 50%;
}

div.forms {    
    margin-left: 50%;
}

#wordlist-export-xml {
    float: right;
    cursor: pointer;    
}

.filtered {
    display: none;    
}

#alpheios-wordlist-filter input {    
    margin-left: 1em;
}

#alpheios-wordlist-filter {
    margin-bottom: 2em;
    font-size: smaller;
}

#alpheios-vocablist-contents {
    display: none;
}

.alpheios-tab { 
    border-width: 1px;
    border-style: solid;  
    border-color: #9E9C9A #9E9C9A white #9E9C9A;    
    background-color: #d1d1d9;
    color: white;
    padding: .25em .25em 0 .25em;
    margin-left: .25em; 
}

.alpheios-tab.current, .alpheios-tab:hover {
   background-color: white;
   color: #0E2233;
   font-weight: bold;
   border-color: ThreeDShadow ThreeDShadow white ThreeDShadow;
}

.alpheios-tab a {
    border: none;  
}

.caption {
    font-weight: bold;
}