svg {
    overflow:scroll;
}

g text {
    text-anchor:middle;
    font-family:Times, Arial, Helvetica, Serif;
    font-size:20px;
    stroke: none;
    fill: dimgray;
}

g text.error {
    fill: black;
}

g text.arc-label {
    font-size:15px;
    fill: black;
}

g text.text-word {
    text-anchor: start;
    fill: black;
}

/* color text according to part of speech:
POS          color       alternate?
adjective    blue
adverb       orange
article      pale blue   gray
conjunction  pink        purple/mauve
interjection yellow
noun         black
preposition  green
pronoun      purple      light pink
verb         red

exclamation=interjection
*/
g text[pos=adjective] {
    fill: blue;
}
g text[pos=adverb] {
    fill: darkorange;
}
g text[pos=article] {
    fill: skyblue;
}
g text[pos=conjunction] {
    fill: deeppink;
}
g text[pos=exclamation] {
    fill: gold;
}
g text[pos=interjection] {
    fill: gold;
}
g text[pos=noun] {
    fill: black;
}
g text[pos=preposition] {
    fill: green;
}
g text[pos=pronoun] {
    fill: purple;
}
g text[pos=verb] {
    fill: red;
}

g line {
    stroke:black;
}

g text[showme="grayed"] {
    fill: darkgray;
}

g line[showme="grayed"] {
    stroke: darkgray;
}

g rect[showme="focus"] {
    fill: yellow;
}
g rect[showme="focus-descendant"] {
    fill: #E0FFE0;
}
g rect[showme="focus-child"] {
    fill: #C0FFC0;
}
g rect[showme="focus-parent"] {
    fill: #FFC0C0;
}
