body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: #0E2233;
}

#alpheios-wordlist-header {
    font-weight: bold;
    border-bottom: 1px solid black;
}

#alpheios-wordlist .header {
    clear: both;
    font-weight: bold;
}
#alpheios-wordlist .entry {
    clear: both;
    margin-bottom: .5em;
}

#alpheios-wordlist div.lemma {
    float: left;
    width: 50%;
}

#alpheios-wordlist div.forms {    
    margin-left: 50%;
}

#wordlist-export-xml {
    float: right;
    cursor: pointer;    
}

#alpheios-wordlist .filtered {
    display: none;    
}

#alpheios-wordlist-filter input {    
    margin-left: 1em;
}

#alpheios-wordlist-filter {
    margin-bottom: 2em;
    font-size: smaller;
}