#alpheios-mainmenu-button {
   list-style-image: url("chrome://alpheios/skin/icons/alpheios_16.png");
}

#alpheios-lang-button {
    list-style-image: url("chrome://alpheios/skin/icons/languages_16.png");
}

#alpheios-userdata-commands {
    list-style-image: url("chrome://alpheios/skin/icons/userdata_16.png");
}

#alpheios-help-button {
    list-style-image: url("chrome://alpheios/skin/icons/help_16.png");
}

#alpheios-inflection-button {
   list-style-image: url("chrome://alpheios/skin/icons/inflection_16.png");
}

#alpheios-grammar-button {
   list-style-image: url("chrome://alpheios/skin/icons/grammar_16.png");
}

#alpheios-tree-toggle {
   list-style-image: url("chrome://alpheios/skin/icons/diagram_16.png");
}

#alpheios-trans-button {
   list-style-image: url("chrome://alpheios/skin/icons/translation_16.png");
}

#alpheios-level-button-learner {
    list-style-image: url("chrome://alpheios/skin/icons/learning_16.png");
}

#alpheios-level-button-reader {
    list-style-image: url("chrome://alpheios/skin/icons/reading_16.png");
}

.alpheios-logo {
   margin-left: 4px;
}

toolbarbutton.alph-close-button {
    -moz-appearance: none;
    -moz-image-region: rect(auto, auto, auto, auto);
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
    margin: 0 4px 0 0;
    list-style-image: url("chrome://alpheios/skin/close.png");
}

toolbarbutton.alph-close-button:hover {
    list-style-image: url("chrome://alpheios/skin/closeHover.png");
}

toolbarbutton.alph-close-button:hover:active {
    list-style-image: url("chrome://alpheios/skin/closeActive.png");
}

toolbarbutton.alph-detach-button {
    -moz-appearance: none;
    -moz-image-region: rect(auto, auto, auto, auto);
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
    margin: 0;
    list-style-image: url("chrome://alpheios/skin/detach.png");
}

toolbarbutton.alph-detach-button:hover {
    list-style-image: url("chrome://alpheios/skin/detachHover.png");
}

toolbarbutton.alph-detach-button:hover:active {
    list-style-image: url("chrome://alpheios/skin/detachActive.png");
}

toolbaritem.alpheios-loading {
    padding-left: 18px;
    background-image: url(loading.gif);
    background-repeat: no-repeat;
    cursor: progress;
}

/** hide the detach button the translation panel until it's implemented **/
#alph-trans-panel toolbarbutton.alph-detach-button {
    display: none !important;
}

toolbaritem.alpheios-alpha-text {
}