#alph-query-frame {
   background-color: white;
}

body {
    background-color: white;
    font-size: medium;
    font-family: Arial, sans-serif;
}

.alph-query-instruct {
    clear: both;
    margin-bottom: 1em;
    margin-left: 1em;
}

.alph-query-element {
    margin-top: 2em;
    clear: both;
}

.alph-query-pofs {
    float: left;
    padding-right: 1.5em;
}

.alph-query-defs {
    float: left;
    padding-right: 1.5em;
}

.alph-query-defs select {
    width: 100%;
    overflow: scroll;
}

.alph-infl-select {
    width: auto;
}

.alph-query-header {
    font-weight: bold;
}

.alph-query-infl {
    /**float: left;**/
    clear: both;
}

.answer {
    font-family: Georgia,serif;
    font-style: italic;
}

.alph-query-context {
    font-weight: bold;
    text-align: left;
    margin-bottom: 1em;
}

.alph-query-hint {
    margin-bottom: 1em;
}

.alph-query-dict {
    margin-top: .5em;
    border: 1px dotted #9E9C9A;
    padding: .25em;
    font-size: smaller;
}

.alph-query-dict .alph-dict-link {
    float: right;
}

.alph-query-dict .alph-dict-link img {
    border: none;
}

.alph-query-infl .alph-morph *, .alph-query-infl .alph-infl * {
    font-style: italic; 
    font-weight: normal;
}

.alph-query-infl .alph-pofs:after {
    content: "";
}

.alph-query-context #alph-word-tools {
    float: right;
}

.query-table {
    display: none;
}

label:hover, .hovered {
    border-collapse: separate;
    border-top: 3px solid #5BC8DC !important;
    border-bottom: 3px solid #5BC8DC !important;
    border-left: 3px solid #5BC8DC !important;
    border-right: 3px solid #5BC8DC !important;
}

label.answer, label.correct {
    padding-left: 16px;
    background: url(icons/checkmark.png) no-repeat;
}

label.incorrect {
    padding-left: 16px;
    background: url(icons/redx.png) no-repeat;
}

td.incorrect {
    background-image: url(icons/redx.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left: 18px !important;
    
}

td.correct {
    background-image: url(icons/checkmark.png);
    background-repeat: no-repeat;
    padding-left: 18px !important;
    background-position: 0% 50%;
}

label.answer:hover, label.correct:hover, label.incorrect:hover, .hovered.incorrect, .hovered.correct {
    border: none !important;
    border-collapse: collapse;
}

.alph-query-close {
    float: right;
    margin-right: 1em;
}

label {
    line-height: 1.25em;
}

input[type=radio] {
    margin-right: .5em;
}

#alph-version-info {
    float: right;
    margin: 1em;
}