table {
    border-collapse: collapse;
    border: 2px solid;
    width: auto;
    table-layout: fixed;
}

table.sub {
    width: auto;
    margin-top: 1em;
}

th, td {
    display: table-cell;
}

th.next-empty, th.next-label {
    border-right: none;
}

th.prev-label {
    border-left: none;
}

th.empty-cell {
    border-left: none;
    border-right: none;
}

td.selected {
    background-color: yellow;
    font-weight: bold;
}

