/*
 * CSS for Latin verb conjugation table
 */
body, th, td {
    font-family: "Arial Unicode MS", sans-serif;
    font-size: 90%;
}

.title {
    font-weight: bold;
    text-align: center;
    font-size: 110%;
}

div#alph-infl-index-link {
    color: #3E8D9C;
    font-weight: bold;
}

div#alph-infl-index-link:hover {
    color: #5BC8DC;
}

#links a, #infl-links a {
    padding-right: 1em;
}

#expand-table-link {
    display: none;
}

#infl-links {
    display: none; 
    padding: 2px;
}

#infl-links-label {
    font-style: italic;
}

#reorder {
    display: none;
    padding: 2px;
}

#reorder-label {
    font-style: italic;
}

select#sortorder option, select#infl-links-select option{
    /* TODO want this to be smaller but having trouble with selected */
    /* font-size: 90% */
}

table#alph-infl-table {
	border-collapse: collapse;
	border: 2px solid;
	/*width: auto;*/
	table-layout: fixed;
}

#alph-infl-table caption {
    font-weight: bold;
    text-align: left;
}

#alph-infl-table tr {
	border: 1px solid #4E6476;
	padding: 2px;
}


#expand-table {
    display: none;
}

th {
    display: none;
    border-left: 1px solid #4E6476;
    border-right: 1px solid #4E6476;
    border-top: 1px solid #4E6476;
    border-bottom: 1px solid #4E6476;
    padding: 2px;
}

th.always-visible {
  display:table-cell;
}


tr#headerrow1 th:first-child {
    visibility: hidden; 
}


tr#headerrow1-irreg th {
    border-top: 2px solid #0E2233;
    border-bottom: 1px solid #0E2233;
    border-left: 1px solid #0E2233;
    border-right: 1px solid #0E2233;
    
}

tr.group1row th {
    white-space: nowrap;
}

tr.group1row th.emptyheader {
    border-left: none;
    border-right: none;
}

tr#headerrow1-irreg th:first-child {
    visibility: hidden; 
}

tr.data-row th {
   display:table-cell;
   font-weight: normal;
   font-style: italic;
   border-left: 1px solid #0E2233;
   border-right: none;
}

tr.group1row td {
    border-left: none;
    border-right: none;    
    border-top: 1px solid #4E6476;
    border-bottom: 1px solid #4E6476;
}


tr.group1row th {
    border-left: 1px solid #0E2233;
    border-right: none;
    text-align: left;
}

tr.data-row td.emptycell {
    border-left: none;
    border-right: none;
}

td {
    display: none;
}


.ending {
    padding-left: 2px;
    display: inline;
    white-space: nowrap;
}

a.footnote:after {
    content: " ";

}

.footnote {
    vertical-align: super;
    color: #3E8D9C;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.footnote:hover {
    color: #5BC8DC;
}

.footnote-text {
    display: none;
}

.footnote-visible {
    display: inline;
    position: absolute;
    color: #0E2233;
    padding: 2px;
    font-weight: normal;
    border: 1px solid #B8B7B5 !important;
    background-color: white;
    white-space: normal;
}


td.highlight-ending {
   
}

span.highlight-ending {
    background-color: #FDE543;
    font-weight: bold;
    font-size: 1.25em;
}

.highlight-hover {
   background-color: #7E8897;
   
}

td {
    border-left: 1px solid #4E6476; 
    border-right: 1px solid #4E6476;
    border-top: 1px solid #4E6476;
    border-bottom: 1px solid #4E6476;
    padding: 2px;
    white-space: nowrap;
    vertical-align: bottom;
    
} 

.notfirst {
    padding-left: 0px;

}
.notfirst:before {
    content: ", ";

}

.loading {
    padding-left: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    background: transparent url(loading.gif) no-repeat;
    cursor: progress;
    white-space: nowrap;
}

.alph-infl-term {
    display: inline;
}