/*
 * CSS for Noun Inflection tables
 */
td.regular {
    border-left: 1px solid gray; 
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: none;
    padding: 2px;
    white-space: nowrap;
    vertical-align: bottom;
    
} 
td.irregular{
    border-left: 1px dashed gray; 
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 2px;
    white-space: nowrap;
    vertical-align: bottom;
}

td.noirreg {
   border-right: 1px solid gray;
}

td.emptycol {
    visibility: hidden; 
    max-width: 0px;
    border-right: 0;
    border-left: 0;
    
}

#headerrow2 .emptycol {
    visibility: hidden;
    max-width: 0px;
    border-right: 0;
    border-left: 0;
}

.stem-classes {
    display: none;
}

.stem-class {
    font-weight: normal;
    font-size: 90%;
}

.stem-class.highlight-ending {
    background-color: yellow;
}

.show-stem {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    overflow: scroll;
    color: black;
    padding: 2px;
    font-weight: normal;
    border: 1px solid #BBC !important;
    background-color: #F0F7FF;
    white-space: normal;
}

