/*
 * Copyright 2008 Cantus Foundation
 * http://alpheios.net
 *
 * Icons from http://tango.freedesktop.org
 * 
 * This file is part of Alpheios.
 * 
 * Alpheios is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Alpheios is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
 */
#alph-window {
	width: auto;
	height: auto;
	color: #000000;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	letter-spacing: normal;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
	white-space: normal;
	word-spacing: normal;
	font: normal 14px sans-serif;
	visibility: visible;
	position: absolute; 
	z-index: 7777;
	border: 1px solid #BBC !important;
	padding: 4px;
	background: #F0F7FF;
	top: 5px;
	left: 5px;
	min-width: 100px;
}

/* XML Markup */
#alph-text {
    font-size: 1em;
    font-style: normal;
}

.alph-word {
    border-top: 1px dotted black;
    padding-top: 10px;
}

.alph-word-first {
    border-top: none;
    padding-top: 0px;
}

.alph-entry span {
    padding-right: .5em;
}

.alph-hdwd,.alph-phrase {
    font-weight: bold;
}

.alph-mean {
    font-style: italic;
    margin-left: 1em;
}

.alph-entry,.alph-unknown,.alph-error {
    margin-bottom: 1em;
}

.alph-attr {
    font-weight: normal;
    color: #000000;
	background: #F0F7FF;
}

.alph-case,.alph-mood,.alph-decl,.alph-conj,.alph-pofs {
	color:blue;
	background: #F0F7FF;
	cursor: pointer;
}

/* attributes inside part-of-speech should not have pointer cursor */
.alph-attr {
    cursor: default;
}

.alph-pofs:after {
    content: ";";
}

.alph-term {
    margin-left: 1em;
}

.alph-infl {
    margin-left: 2em;
}

#alph-close {
    text-align: right;
    color: blue;
    background: #F0F7FF;
    font-size: 85%;
    cursor: pointer;
}

#alph-secondary-loading {
    display: inline;
    color: gray;
    border: 2px outset black;
    padding-left: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    background: white url(loading.gif) no-repeat;
    cursor: progress;
    white-space: nowrap;
    position: absolute;
}

#alph-text-loading {
    padding-left: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    background: transparent url(loading.gif) no-repeat;
    cursor: progress;
    white-space: nowrap;
}

.loading {
    padding-left: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    background: transparent url(loading.gif) no-repeat;
    cursor: progress;
    white-space: nowrap;
}

#alph-morph-box-splitter {
    border-top: 1px solid #BBB9BA;
    border-bottom: none;
    background: #f3f3f3 !important;
    min-height: 3px;
    max-height: 3px;
}

#alph-morph-box {
    height: 100px;
}
