body {
    background-color: white;
}

.alph-query-pofs {
    float: left;
}

.alph-query-defs {
    float: left;
    margin-left: 1em;
}

.alph-query-header {
    font-weight: bold;
}

.answer {
    font-style: italic;
}

.alph-query-context {
    font-size: 110%;
    text-decoration: underline;
    text-align: center;
}