/* style for tree diagrams */
#tree-error {
    font-size: 20px;
    font-weight: bold;
}

svg {
    overflow: scroll;
}

/* normal text attributes */
g text {
    font-family: Georgia, Times, Arial, Helvetica, Serif;
    font-size: 20px;
    stroke: none;
    fill: dimgray;
}

g text.error {
    text-anchor: start;
    fill: black;
}

g text.node-label {
    text-anchor: middle;
}

g text.arc-label {
    font-size: 11px;
    fill: black;
}

g text.arc-label-help {
    font-size: 11px;
    fill: black;
}

g.text text {
    text-anchor: start;
    fill: black;
}

g.key text {
    text-anchor: start;
    font-size: 15px;
    fill: black;
}

g.key text.heading {
	font-weight: bold;
}

/* normal line attributes */
g line {
    stroke: black;
}

/* normal rect attributes */
g rect {
    stroke-width: 0;
    fill: none;
}

g.key > rect {
    stroke-width: 1;
    stroke: black;
}

/* color text according to part of speech:
POS          color       alternate?
adjective    blue
adverb       orange
article      pale blue   gray
conjunction  pink        purple/mauve
interjection yellow
noun         black
preposition  green
pronoun      purple      light pink
verb         red

exclamation=interjection
*/
g text[pos=adjective] {
    fill: blue;
}
g text[pos=adverb] {
    fill: darkorange;
}
g text[pos=article] {
    fill: skyblue;
}
g text[pos=conjunction] {
    fill: deeppink;
}
g text[pos=exclamation] {
    fill: gold;
}
g text[pos=interjection] {
    fill: gold;
}
g text[pos=noun] {
    fill: black;
}
g text[pos=preposition] {
    fill: green;
}
g text[pos=pronoun] {
    fill: purple;
}
g text[pos=verb] {
    fill: red;
}

/* how to gray out tree */
g.tree text[showme="grayed"] {
    fill: darkgray;
}
g line[showme="grayed"] {
    stroke: darkgray;
}
g rect[showme="grayed"] {
    fill: none;
}

/* how to highlight focus word and its relatives */
g rect[first] {
    fill: #E0E0E0;
}
g rect[showme="focus"] {
    fill: yellow;
}
g rect[showme="focus-descendant"] {
    fill: #E0FFE0;
}
g rect[showme="focus-child"] {
    fill: #C0FFC0;
}
g rect[showme="focus-parent"] {
    fill: #FFC0C0;
}

/* how to handle descendants in tree: */
/* - to gray out, use this set of rules */
/* - to highlight, comment out this set of rules */
/*--- start descendant rules ---*/
g.tree text[showme="focus-descendant"] {
    fill: darkgray;
}
g.tree rect[showme="focus-descendant"] {
    fill: none;
}
g.tree line[showme="focus-descendant"] {
    stroke: darkgray;
}
/*--- end descendant rules ---*/
