#alph-right-panel {
    width: 400px;
}

#alph-morph-panel, #alph-tree-panel, #alph-etym-panel {
    height: 100px;
}

#alph-morph-box-splitter {
    border: 1px solid #BBB9BA;
    background: #f3f3f3 !important;
    min-width: 2px;
    max-width: 2px;
}

#alph-morph-body {
    height: 100%;
    width: 50%;
}

#alpheios-morph-inflection {
    text-decoration: underline;
    color: blue;
}

#alph-dict-body {
    height: 100%;
    width: 50%;
}

.alph-panel-splitter {
    background: #f3f3f3 !important;
    border-left: 1px solid #BBB9BA;
    border-right: 1px solid #BBB9BA;
    min-width: 4px;
    max-width: 4px;
}

.alph-panel-splitter[orient="vertical"] {
    border: none;
    border-top: 1px solid #BBB9BA;
    min-height: 4px;
    max-height: 4px;
    min-width: 0;
    max-width: none;
}