browser {
    background-color: white;
}

#error {
    color: red;
    min-height: 1em;
    font-weight: bold;
    font-size: larger;
}

spacer {
    min-height: 1em;
}

#seq-label {
    margin-left: 0px;
    padding: 0px;
}

#sequential {
    padding-right: 0px;
}