.mp-xml *{
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    display: inline;
}
.mp-xml entry {
    display: block;
}
.mp-xml phrase {
   display: block;
}
.mp-xml dict {
   display: block;
}
.mp-xml infl {
   display: block;
}
.mp-xml mean {
   display: block;
}
.mp-xml note {
   display: block;
}
.mp-xml age:before {
    content: "<age>";
    color: blue;
    font-size: 80%;
}
.mp-xml age:after {
    content: "</age> ";
    color: blue;
    font-size: 80%;
}
.mp-xml area:before {
    content: "<area>";
    color: blue;
    font-size: 80%;
}
.mp-xml area:after {
    content: "</area> ";
    color: blue;
    font-size: 80%;
}
.mp-xml case:before {
    content: "<case>";
    color: blue;
    font-size: 80%;
}
.mp-xml case:after {
    content: "</case> ";
    color: blue;
    font-size: 80%;
}
.mp-xml comp:before {
    content: "<comp>";
    color: blue;
    font-size: 80%;
}
.mp-xml comp:after {
    content: "</comp> ";
    color: blue;
    font-size: 80%;
}
.mp-xml conj:before {
    content: "<conj>";
    color: blue;
    font-size: 80%;
}
.mp-xml conj:after {
    content: "</conj> ";
    color: blue;
    font-size: 80%;
}
.mp-xml decl:before {
    content: "<decl>";
    color: blue;
    font-size: 80%;
}
.mp-xml decl:after {
    content: "</decl> ";
    color: blue;
    font-size: 80%;
}
.mp-xml dict:before {
    content: "<dict>";
    color: blue;
    font-size: 80%;
}
.mp-xml dict:after {
    content: "</dict> ";
    color: blue;
    font-size: 80%;
}
.mp-xml entry:before {
    content: "<entry>";
    color: blue;
    font-size: 80%;
}
.mp-xml entry:after {
    content: "</entry> ";
    color: blue;
    font-size: 80%;
}
.mp-xml freq:before {
    content: "<freq>";
    color: blue;
    font-size: 80%;
}
.mp-xml freq:after {
    content: "</freq> ";
    color: blue;
    font-size: 80%;
}
.mp-xml gend:before {
    content: "<gend>";
    color: blue;
    font-size: 80%;
}
.mp-xml gend:after {
    content: "</gend> ";
    color: blue;
    font-size: 80%;
}
.mp-xml geo:before {
    content: "<geo>";
    color: blue;
    font-size: 80%;
}
.mp-xml geo:after {
    content: "</geo> ";
    color: blue;
    font-size: 80%;
}
.mp-xml hdwd:before {
    content: "<hdwd>"; 
    color: blue;
    font-size: 80%;
}
.mp-xml hdwd:after {
    content: "</hdwd> ";
    color: blue;
    font-size: 80%;
}
.mp-xml infl:before {
    content: "<infl>";
    color: blue;
    font-size: 80%;
}
.mp-xml infl:after {
    content: "</infl> ";
    color: blue;
    font-size: 80%;
}
.mp-xml kind:before {
    content: "<kind>";
    color: blue;
    font-size: 80%;
}
.mp-xml kind:after {
    content: "</kind> ";
    color: blue;
    font-size: 80%;
}
.mp-xml mean:before {
    content: "<mean>";
    color: blue;
    font-size: 80%;
}
.mp-xml mean:after {
    content: "</mean> ";
    color: blue;
    font-size: 80%;
}
.mp-xml mood:before {
    content: "<mood>";
    color: blue;
    font-size: 80%;
}
.mp-xml mood:after {
    content: "</mood> ";
    color: blue;
    font-size: 80%;
}
.mp-xml note:before {
    content: "<note>";
    color: blue;
    font-size: 80%;
}
.mp-xml note:after {
    content: "</note> ";
    color: blue;
    font-size: 80%;
}
.mp-xml num:before {
    content: "<num>";
    color: blue;
    font-size: 80%;
}
.mp-xml num:after {
    content: "</num> ";
    color: blue;
    font-size: 80%;
}
.mp-xml pers:before {
    content: "<pers>";
    color: blue;
    font-size: 80%;
}
.mp-xml pers:after {
    content: "</pers> ";
    color: blue;
    font-size: 80%;
}
.mp-xml pofs:before {
    content: "<pofs>";
    color: blue;
    font-size: 80%;
}
.mp-xml pofs:after {
    content: "</pofs> ";
    color: blue;
    font-size: 80%;
}
.mp-xml phrase:before {
    content: "<phrase>";
    color: blue;
    font-size: 80%;
}
.mp-xml phrase:after {
    content: "</phrase> ";
    color: blue;
    font-size: 80%;
}
.mp-xml sort:before {
    content: "<sort>";
    color: blue;
    font-size: 80%;
}
.mp-xml sort:after {
    content: "</sort> ";
    color: blue;
    font-size: 80%;
}
.mp-xml src:before {
    content: "<src>";
    color: blue;
    font-size: 80%;
}
.mp-xml src:after {
    content: "</src> ";
    color: blue;
    font-size: 80%;
}
.mp-xml stem:before {
    content: "<stem>";
    color: blue;
    font-size: 80%;
}
.mp-xml stem:after {
    content: "</stem> ";
    color: blue;
    font-size: 80%;
}
.mp-xml suff:before {
    content: "<suff> ";
    color: blue;
    font-size: 80%;
}
.mp-xml suff:after {
    content: "</suff> ";
    color: blue;
    font-size: 80%;
}
.mp-xml tense:before {
    content: "<tense> ";
    color: blue;
    font-size: 80%;
}
.mp-xml tense:after {
    content: "</tense> ";
    color: blue;
    font-size: 80%;
}
.mp-xml term:before {
    content: "<term>";
    color: blue;
    font-size: 80%;
}
.mp-xml term:after {
    content: "</term> ";
    color: blue;
    font-size: 80%;
}
.mp-xml var:before {
    content: "<var> ";
    color: blue;
    font-size: 80%;
}
.mp-xml var:after {
    content: "</var> ";
    color: blue;
    font-size: 80%;
}
.mp-xml voice:before {
    content: "<voice>";
    color: blue;
    font-size: 80%;
}
.mp-xml voice:after {
    content: "</voice >";
    color: blue;
    font-size: 80%;
}
.mp-xml word:before {
    content: "<word>";
    color: blue;
    font-size: 80%;
}
.mp-xml word:after {
    content: "</word> ";
    color: blue;
    font-size: 80%;
}
.mp-xml xmpl:before {
    content: "<xmpl>";
    color: blue;
    font-size: 80%;
}
.mp-xml xmpl:after {
    content: "</xmpl> ";
    color: blue;
    font-size: 80%;
}
