button {
    margin: 2px;
    background-color:#8795a2;
    border-color:#1f3243 #4e6376 #4e6376 #1f3243;
    border-style:solid;
    border-width:1px;
    color:black;
    font-family:'trebuchet ms',helvetica,sans-serif;
    font-size:84%;
    font-weight:bold;
}
button:hover {
    border-style: outset;
    border-color: #72cedf;
    background-color: #4e6376;
    color: white;
}
button: active {
    border-style: inset;
    background-color: #8795a2;
}
button[disabled] {
    background-color:#cccccc;
    border-color:#9d9b99;
    border-style: solid;
    color: gray;
}

div.sentence {
    text-indent: 5px;
    width: 90%;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding-top: 2px;
    padding-bottom: 2px;
}
a {
    text-decoration: none;
    color: #404040;
}
a:hover {
    color: black;
}
div.sentence:hover {
    border-width: 3px;
    border-color: black;
}
