#alph-text-links {
    margin-top: 1em;
    margin-bottom: 1em;
    clear: both;
}

#alph-proto-nextprev,.alpheios-next-prev {
    text-align: right;
    margin-right: .5em;
    margin-top: .5em;
    margin-bottom: 1em;
    clear: both;
}

#alph-proto-nextprev img,.alpheios-next-prev img {
    border: none;
}

.alph-proto-prev {
    padding-right: .25em;
}

.alph-proto-next {
    padding-left: .25em;
}

.hide-prev {
    visibility: hidden;
}

#alph-links {
    background-color: lightsteelblue;
}

#alph-links a {
    vertical-align: middle;
    padding-left: .5em !important;
    padding-right: .5em !important;
    color: blue !important;
    font-style: italic;
    text-decoration: none;
}

.alpheios-logo {
    font-size: 120%;
}

.alpheios-help {
    font-size: 90%;
    float: right;
    margin-top: -2em;
}
#alph-links img {
    border: none;
    padding-right: 1em;
    vertical-align: bottom;

}

#alph-citation-links img{
    border: none;
    margin-left: 1em;
    vertical-align: bottom;
}

#citation {
    clear: both;
    font-size: 90%;
    border-top: 1px dotted black;
    margin-left: .5em;
    margin-right: .5em;
    font-family: "Arial Unicode MS", sans-serif;

}

/* override hopper.css */
div#header div#header_text {
    margin-left: 1em;
}

div#header {
    border-bottom: 2px solid black;
}

*:lang(greek),*[lang=greek],.card {
      font-family: "New Athena Unicode", Gentium, "Palatino Linotype", "Lucida Grande", Galilee, "Arial Unicode MS", sans-serif;
      margin: 1em .5em 1em 1em;
      font-size: 110%;
}

.upLink {
    display: none;

}

.alpheios-next-prev a {
	padding-left: .25em;
	padding-right: .25em;

}

.stdfooter hr {
    display: none;
}

.rights_info {
    background-color: white !important;
}