ul.stem-class-block li.stem-class-toggle {
    background: transparent !important;
    list-style-image: url("chrome://alpheios/skin/classic/mac/twisty-clsd.png");
}

ul.stem-class-block.show-list li.stem-class-toggle {
    list-style-image: url("chrome://alpheios/skin/classic/mac/twisty-open.png"); 
}

ul.stem-classes li.selected, ul.stem-classes li.primary {
    list-style-image: url("chrome://alpheios/skin/cbox-check.gif");
}

ul.stem-classes li.highlight-ending {
    list-style-image: url("chrome://alpheios/skin/cbox-check.gif");
}

.alph-close-button {
    float: right;
    width: 16px;
    cursor: pointer;
    padding: 0 !important;
    border: none !important;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("chrome://alpheios/skin/classic/mac/close.png");
}

.alph-close-button:hover {
    background-image: url("chrome://alpheios/skin/classic/mac/closeHover.png");
}

.alph-close-button:hover:active {
    background-image: url("chrome://alpheios/skin/classic/mac/closeActive.png");
}
