body {
    background: white;
}

#alph-window {
    border: none !important;
    padding: 4px;
    background: white;
}

/**
 * Hide the grammar links for now -- don't work in the panel window
 */
.alph-attr,.alph-case,.alph-mood,.alph-decl,.alph-conj,.alph-pofs,.alph-close,.alph-tense,.alph-voice,.alph-pers {
    background: white;
}

