body {
    margin: 1em;
    font-size: 1em;
}


table {
    border-collapse: collapse;
    border: 2px solid black;
}

td {
    border: 1px solid;
}

.foreign {
    font-family: "New Athena Unicode", Gentium, "Palatino Linotype","Lucida Grande","Arial Unicode MS", sans-serif;
}


/* toc styls */
ul.toc {
    margin:0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}

li.toc {
    margin-left: .5em; 
    margin-left: 1em; 
    text-align: left;
    text-indent: -.5em;
    position: relative;
}
.toc-widget {
    position: absolute;
    left: -1.5em;
    top: 5px;
    cursor: pointer;
    width: 9px;
    height: 9px;
}

.toc-closed {
    background: url("chrome://alpheios/skin/twisty-clsd.png") no-repeat;
}
.toc-open {
     background: url("chrome://alpheios/skin/twisty-open.png") no-repeat;
}

.toc {
    font-size: .95em;
}

.highlighted {
    font-weight: bold;
}       

.perseus-funder, .perseus-publication {
    font-size: small;
    font-style: italic;
    text-align: center;
}

.perseus-publication .publisher:after {
    content: ", ";
}

.perseus-publication .pubPlace:after {
    content: ", ";
}

.upLink, .nextLink, .navigation {
    font-size: small;
}
