#alph-trans-tabs .tabs-left {
    -moz-box-flex: 0 !important;
}

toolbarbutton.alph-close-button {
    -moz-appearance: none;
    -moz-image-region: rect(auto, auto, auto, auto);
    margin: 0 4px 0 1px !important;
    padding: 0 !important;
    border: none;
    background: transparent !important;
    list-style-image: url("chrome://alpheios/skin/classic/mac/close.png");
}

toolbarbutton.alph-close-button:hover {
    list-style-image: url("chrome://alpheios/skin/classic/mac/closeHover.png");
}

toolbarbutton.alph-close-button:hover:active {
    list-style-image: url("chrome://alpheios/skin/classic/mac/closeActive.png");
}

toolbarbutton.alph-detach-button {
    -moz-appearance: none;
    -moz-image-region: rect(auto, auto, auto, auto);
    margin: 1px 1px 0 1px !important;
    padding: 0 !important;
    border: none;
    background: transparent !important;
    list-style-image: url("chrome://alpheios/skin/classic/mac/detach.png");
}

toolbarbutton.alph-detach-button:hover {
    list-style-image: url("chrome://alpheios/skin/classic/mac/detachHover.png");
}

toolbarbutton.alph-detach-button:hover:active {
    list-style-image: url("chrome://alpheios/skin/classic/mac/detachActive.png");
}

toolbarbutton.alph-detach-button > .toolbarbutton-text {
    display: none;
}

.alph-close-button {
    float: right;
    width: 16px;
    cursor: pointer;
    padding: 0 !important;
    border: none !important;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("chrome://alpheios/skin/classic/mac/close.png");
}

.alph-close-button:hover {
    background-image: url("chrome://alpheios/skin/classic/mac/closeHover.png");
}

.alph-close-button:hover:active {
    background-image: url("chrome://alpheios/skin/classic/mac/closeActive.png");
}

/* Mac Preferences Styles from chrome://browser/preferences/preferences.css */
#alpheios-prefs {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#unifiedPrefwindow");
}

#alpheios-prefs:not([active="true"]) > .paneSelector {
  background-image: url("chrome://global/skin/toolbar/toolbar-background-tall-inactive.png");
  background-color: #cfcfcf;
  border-bottom: 1px solid rgba(0,0,0,0.35);
}

#alpheios-prefs:not([active="true"]) > .paneSelector > radio {
  opacity: 0.7;
}

#alpheios-prefs.prefWindow-dlgbuttons {
  padding-top: 0 !important;
}

.paneSelector {
  list-style-image: none !important;
}

.paneSelector radio image {
    border-width: 1px !important;
    border-color: transparent !important;
}
.paneSelector radio[selected="true"] image {
    border-style: inset !important;
    border-color: #73CDDE!important;
}
