/* unhighlight the grammar conj links for now */
.alph-conj {
    color: black;
    cursor: default;
}

/* add highlighting to some other grammar terms */
.alph-tense,.alph-voice,.alph-pers {
    color:blue;
    cursor: pointer;
}

.alph-hdwd, .alph-phrase, .alph-term, *:lang(gre), *:lang(grc), *.greek {
    font-family: "New Athena Unicode", Gentium, "Palatino Linotype","Lucida Grande","Arial Unicode MS", sans-serif;
}