.ending, caption {
    font-family: Georgia, "New Athena Unicode", Gentium, "Palatino Linotype","Lucida Grande","Arial Unicode MS", sans-serif; 
}

.ending {
    line-height: 1em;
}

.notfirst:before {
    content: "";

}

.notfirst {
    padding-left: .5em;
}

     
table.simplified td {
    border-left: none; 
    border-right: none;
}

table.simplified td.newgroup.ending-group {
    /**border-left: 1px solid gray; */
}

.duplicate {
    display: none;
}
